<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="custom"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ejemplo 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
<ion-text color="primary">
  <h1>Pagina Home</h1>
</ion-text>
<ion-text >
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales velit non ipsum maximus pulvinar et sit amet metus. Proin vel euismod dolor, et ullamcorper mi. Vivamus vel ornare tellus. Pellentesque et nisl nec lacus fringilla finibus.</p>
</ion-text>
<ion-button expand="full" shape="round" routerLink='../page2'>
  Ir a Pagina 2
</ion-button>
<ion-button expand="full" shape="round" routerLink='../page3' color="tertiary">
  Ir a Pagina 3
</ion-button>
<ion-button expand="block" shape="round" routerLink='../page4'>
  Ir a pagina 4
</ion-button>
</ion-content>

<app-footer></app-footer>